* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html, body {
	margin:0px;
	padding: 0px;
	background: #fff;
}

body {
	font-size: 79%;
	font-family: "Verdana", "Helvetica", "sans-serif";
}

h1 {
	height: 20px;
	margin: 20px 0px 10px 0px;
	font-family: "Century Gothic", "Helvetica", "sans-serif";
	font-size: 1.4em;
	color: #4d7097;
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#aaaacc', Direction=135, Strength=2);
}

h2 {
	margin: 30px 0px 20px -50px;
	font-size: 1.2em;
	font-family: "Bookman Old Style", "Helvetica", "sans-serif";
	color: #716f64;
	border-bottom: 1px dotted #aca899;
}

h3 {
	margin: 50px 0px 10px 0px;
	padding: 5px 10px;
	font-family: "Bookman Old Style", "Helvetica", "sans-serif";
	font-size: 1em;
	color: #716f64;
	background: #ece9d8;
}

h4 {
	margin: 10px;
	font-size: 84%;
}

a {
	text-decoration: none;
	color: #248;
}

a:visited {
	color: #040;
}

p {
	margin: 10px 0px;
}

blockquote {
	margin: 10px 30px 10px 0px;
	padding: 10px;
	border: 1px solid #cdf;
	background: #f3f3ff;
	font-family: "Century Gothic", "Helvetica", "sans-serif";
}

pre {
	margin: 10px 0px 10px 10px;
	font-family: "Courier New", "Courier", "monospace";
	font-size: 100%;
	color: #4d7097;
}

xmp, kbd {
	color: infotext;
	background: infobackground;
	font-family: "Courier New", "Courier", "monospace";
}

xmp {
	padding: 10px 5px;
}



/* page layout - width 800px, padding 20px  */

table.page {
	width: 920px;
	table-layout: fixed;
	border-collapse: collapse;
	font-size: 100%;
	margin-right: -20px;
}

table.page[class] {
	margin-right: auto;
}

table.page td {
	padding: 0px 20px;
	vertical-align: top;
}

/* page header */

.head {
	margin: 5px 0px;
	padding-top: 5px;
}

.head .title {
	line-height: 30pt;
	background: url(images/logo.png) 16px 2px no-repeat;
}

.head .subtitle {
	padding-bottom: 5px;
	vertical-align: bottom;
	text-align: right;
	font-style: italic;
	font-size: 84%;
	color: #666;
}

/* page menu */

.menu {
	margin: 3px 0px;
	border-top: 1px solid #e2decd;
	border-bottom: 1px solid #d6d2c2;
	background: #ebeadb;
	font: menu;
}

.menu .left, .menu .right {
	padding: 5px 10px;
}

.menu .right {
	width: 65%;
	text-align: right;
}

.menu a {
	margin: 0px 10px;
	text-decoration: none;
	color: #42658d;
}

.menu a:visited {
	color: #42658d;
}


/* page body */

.body {
	margin: 20px 0px;
}

.body td.main {
	padding: 0px 30px 0px 70px;
	line-height: 1.35em;
}

.location {
	margin: 0px 0px 10px 0px;
	padding-bottom: 2px;
	border-bottom: 1px dotted #aca899;
	color: #716f64;
}

table.topnews {
	width: 470px;
	margin: 10px 0px 20px 0px;
	font-size: 95%;
	color: #716f64;
}

table.topnews td {
	padding: 0px;
	vertical-align: top;
}

.topnews td.date {
	width: 7em;
}

.image-home {
	position: relative;
	left: -50px;
	top: 0px;
	float: left;
	width: 30px;
	height: 30px;
	margin: 0px -30px -30px 0px;
	background: url(images/boxes.png) 10px 7px no-repeat;
}

/* page right column */

col.main {width: 640px;}
col.right {	width: 280px;}

.single col.main {width: 920px;}
.single col.right {	width: 0px; display: none;}

.body .main {
	background: url(images/bgm.png) repeat-y top right;
}

.body .right {
	width: 280px;
	vertical-align: top;
	font-size: 84%;
	background: url(images/bgr.png);
	padding: 20px 15px 20px 10px;
}

.body .right h2 {
	margin: 15px 0px;
	color: #716f64;
	border: none;
}

.body .right p {
	margin: 10px 0px;
}

.body .right ul {
	margin: 0px;
	padding: 0px;
	list-style: square inside;
	white-space: nowrap;
	cursor: default;
}

.body .right ul.reference {
	padding-top: 40px;
	margin-bottom: 30px;
	border-bottom: 1px solid #ece9d8;
	line-height: 1.8em;
}

.body .right ul ul {
	margin: 0px 3px;
	border: 1px inset;
}

.body .right ul ul ul{
	border: none;
}

.body .right li {
	font-style: italic;
	border-top: 1px solid #ece9d8;
	text-indent: 10px;
	cursor: hand;
}

.body .right ul ul li {
	text-indent: 20px;
}

.body .right ul ul ul li {
	font-style: normal;
	text-indent: 30px;
}

.tree-active {
	background: #fff;
}

.body .right a {
	color: #248;
	text-decoration: none;
}


/* copyright message */

.copyright .page td {
	padding: 10px;
	border-top: 1px dashed #aca899;
	font-size: 84%;
	font-variant: small-caps;
	text-align: center;
}




/* tutorial */

.tutorial textarea {
	overflow: auto;
	width: 100%;
	height: 250px;
	margin: 5px 0px;
	background: infobackground;
	border: 1px inset;
	font-size: 10pt; /* 100% doesn't work??? */
}

.tutorial iframe {
	width: 100%;
	height: 150px;
	margin: 5px 0px;
	border: 1px solid white;
}

/* reference */

table.summary, table.params {
	width: 100%;
	border-collapse: collapse;
	font-size: 84%
}

table.summary td, table.params td {
	padding: 2px 30px 2px 0px;
	text-align: left;
	border-top: 1px solid #ece9d8;
	border-bottom: 1px solid #ece9d8;
}

table.summary a {
	color: #248;
	text-decoration: none;
}

.reference .image-home {
	background: url(images/boxes.png) 10px 7px no-repeat;
}



/* all */

a:hover {
	text-decoration: underline;
}


/* forum */

.forum-subject {
	margin: 30px 0px 20px 0px;
	font-size: 1.2em;
	font-weight: bold;
	font-family: "Bookman Old Style", "Helvetica", "sans-serif";
	color: #716f64;
	border-bottom: 1px dotted #aca899;
}

.forum-message {
	margin: 10px 0px;
	line-height: 1.5em;
}

.forum-author, .forum-date {
	padding: 0px 30px;
	text-align: right;
	line-height: 1.5em;
	font-style: italic;
}

.forum .image-home {
	background: url(images/boxes.png) 10px 7px no-repeat;
}

.forum-label {
	display: -moz-inline-box;
	position: relative;
	left: -52px;
	width: 50px;
	height: 16px;
	margin-right: -50px;
	vertical-align: top;
	font-size: 11px;
}

.forum-separator {
	margin: 10px 0px 15px 0px;
	border-bottom: 1px dotted #aca899;
}

/* tree */

li ul {
	display: none;
}

li.treeVisible ul {
	display: block;
}

li.treeVisible li ul {
	display: none;
}

li.treeVisible li.treeVisible ul {
	display: block;
}

/* code highlight */

.aw-code-panel {
	position: relative;
	overflow: hidden;
	top: 50px;
	left: -52px;
	width: 30px;
	height: 150px;
	margin: 0px -30px -150px 0px;
}

.aw-code-panel button{
	width: 100%;
	height: 2.5em;
	font: menu;
}

.aw-code-block {
	display: block;
	margin: 15px 0px 15px -50px;
	padding: 15px 0px 15px 50px;
	background: #f9ffee;
	border: 1px dotted #999;
	font-size: 100%;
	font-family: Georgia, Arial, Helvetica;
}

.aw-code-1 { color: #006;}
.aw-code-2 { color: #00c;}
.aw-code-3 { color: #099; font-style: italic}
.aw-code-4 { color: #090;}

.bottom-links img {
	overflow: hidden;
	width: 4px;
	height: 5px;
	border: none;
	margin: 0px;
}

/* image preload */

#img1 {	width: 1px; height: 1px; background: url(/runtime/styles/xp/grid.png);}
#img2 {	width: 1px; height: 1px; background: url(/runtime/styles/xp/icons.png);}

/* sidebar boxes */

.aw-section {
	width: 100%;
	margin: 0px 0px 15px 0px;
	padding: 0px 10px 15px 10px;
	border: 5px solid #fff;
	background: #fbfaf8;
	line-height: 1.8em;
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#e2decd', Direction=135, Strength=5);
}

.aw-section[class] {
	border-right-width: 8px;
	border-bottom-width: 8px;
	-moz-border-right-colors: #f4f3f0 #e2decd #d6d2c2 #fff #fff #fff #fff #fff;
	-moz-border-bottom-colors: #f4f3f0 #e2decd #d6d2c2 #fff #fff #fff #fff #fff;
	-moz-border-radius: 3px;
}

.aw-section h2 {
	margin: 0px -10px 10px -10px!important;
	padding: 5px 10px;
	border-top: 1px solid #e2decd!important;
	border-left: 1px solid #e2decd!important;
	border-bottom: 1px solid #d6d2c2!important;
	border-right: 1px solid #d6d2c2!important;
	background: #ebeadb;
	font-family: Tahoma;
	font-weight: bold;
	font-size: 1em;
}

.aw-section a {
	color: #4d7097!important;
	text-decoration: none;
	border-bottom: 1px dotted #4d7097;
}

.aw-section a:visited {
	color: #000!important;
	border-bottom: 1px dotted #000;
	text-decoration: none;
}

.aw-section a:hover {
	color: #f00!important;
	text-decoration: none;
	border-bottom: 1px solid red;
	background: #ffeeee;
}


.aw-markup {
	font: menu;
	color: #4d7097;
}

.aw-markup div {
	padding-left: 25px;
	text-indent: -25px;
}

.aw-markup span {
	display: block;
	padding-left: 20px;
}

/* icons */

.aw-icon {
	display: inline;
	overflow: hidden;
	width: 16px;
	height: 16px;
	margin: 0px 5px 0px 0px;
	background-image: url(images/icons.png);
	vertical-align: middle;
}

.aw-icon[class]{
	display: -moz-inline-box;
	overflow: visible;
}

.aw-download	{background-position:  -41px -1px}
.aw-licenses	{background-position:  -81px -1px}
.aw-buy			{background-position: -121px -1px}


/* tree */

.aw-treeitem {
	overflow: hidden;
	width: 100%;
	height: 1.6em;
	padding-left: 30px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.aw-treeitem a, .aw-treeitem a:visited {
	border-bottom: none;
}

.aw-current {
	border-top: 1px solid #d6d2c2;
	border-left: 1px solid #d6d2c2;
	border-bottom: 1px solid #e2decd;
	border-right: 1px solid #e2decd;
	background: #ebeadb;
}

.aw-current span, .aw-current a {
	position: relative;
	top: -1px;
	left: -1px;
}

.aw-treelist .aw-treeitem {padding-left: 40px}
.aw-treelist .aw-treelist .aw-treeitem {padding-left: 50px}
.aw-treelist .aw-treelist .aw-treelist .aw-treeitem {padding-left: 60px}
.aw-treelist .aw-treelist .aw-treelist .aw-treelist .aw-treeitem {padding-left: 70px}

.aw-treebox1 .aw-treelist {
	display: none;
}

.aw-treemarker1 {
	overflow: hidden;
	width: 32px;
	height: 16px;
	margin-left: -32px;
	margin-right: 0px;
	vertical-align: middle;
	background: url(images/icons.png) -467px -1px;
}

.aw-treemarker2 {
	overflow: hidden;
	width: 32px;
	height: 16px;
	margin-left: -32px;
	margin-right: 0px;
	background: #ccc;
	vertical-align: middle;
	cursor: pointer;
}


.aw-treebox2 .aw-treemarker2 {
	background: url(images/icons.png) -563px -1px;
}

.aw-treebox1 .aw-treemarker2 {
	background: url(images/icons.png) -523px -1px;
}



.aw-treemarker1[class], .aw-treemarker2[class] {
	display: -moz-inline-box;
	overflow: visible;
	vertical-align: 13px;
}



/* print */

@media print {

	table.page {
		width: 640px;
	}

	.head, .menu, col.right {
		display: none;
	}

	.image-home {
		border-left: 30px solid #eee;
	}

	a {
		color: #248;
	}
}