.N_covers1{
position:absolute;
background:#84ACFF;
top:0px;
left:0px
width: 100%;
height: 100%;
opacity:0.5;
filter: alpha(opacity=50);
}
.nseer_div1{
position:absolute;
top:120px;
right:200px;
background:yellow;
background: url(/erp/javascript/include/div/images/gradient-bg.gif) repeat-x 0 -82px;
background:#757575;
}
.nseer_div{
position:absolute;
top:100px;
left:100px;
width:600px;
height:300px;
z-index:30;
}
.cssDiv1{
position:absolute;
top:10px;
width:100%;
height:24px;
background-image:url(../../../images/tree/white-top-bottom.gif);
}
.cssDiv2{
font: bold 9pt;
position:absolute;
top:5px;
left:3px;
color:#888888;
}
.cssDiv3{
position:absolute;top:15px;right:15px;width:15px;height:15px;background-image:url(/erp/javascript/include/div/images/close.gif);
}
.cssDiv4{
position:absolute;top:15px;right:35px;width:15px;height:15px;background-image:url(/erp/javascript/include/div/images/expand.gif);
}
.cssDiv5{
position:absolute;top:15px;right:55px;width:15px;height:15px;background-image:url(/erp/javascript/include/div/images/collapse.gif);
}
.cssDiv6{
position:absolute;bottom:0px;left:3px;width:7px;height:7px;background-image:url(/erp/javascript/include/div/images/sw-handle-dark1.gif);
}
.cssDiv7{
position:absolute;bottom:0px;right:3px;width:7px;height:7px;background-image:url(/erp/javascript/include/div/images/se-handle-dark1.gif);
}
.cssDiv8{
position:absolute;top:60px;width:100%;height:200px;
padding:0px 10px 0px 10px;
}
.button1{
position:absolute;top:60px;width:200px;height:200px;
}
.trans_msg
 {
 filter:alpha(opacity=100,enabled=1) revealTrans(duration=.2,transition=1) blendtrans(duration=.2);
 }
.treeButton_finance{
position:absolute;
top:40px;
left:75%;
width:90px;
height:200px;
}
h2 {
        font: bold 14px Verdana, Arial, Helvetica, sans-serif;
        color: #000;
        margin: 0px;
        padding: 0px 0px 0px 15px;
}

/*- Menu Tabs F--------------------------- */

#tabsF {
	  position:absolute;
      float:left;
      width:100%;
	  top:38px;
      font-size:9pt;
      line-height:normal;
          border-bottom:1px solid #666;
      }
#tabsF ul {
        margin:0;
        padding:0px 10px 0 10px;
        list-style:none;
      }
#tabsF li {
      display:inline;
      margin:0;
      padding:0;
      }
#tabsF a {
	  float:left;
      background:url("/erp/images/tableftF.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
      }
#tabsF a span {
      width:100%;
      float:left;
      display:block;
      background:url("/erp/images/tabrightF.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#666;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabsF a span {float:none;}
    /* End IE5-Mac hack */
#tabsF a:hover span {
      color:#000;
      }
#tabsF a:hover {
      background-position:0% -42px;
      }
#tabsF a:hover span {
      background-position:100% -42px;
      }

#tabsF #current a {
				width:100px;
                background-position:0% -42px;
       }
#tabsF #current a span {
	text-align:center;
	background-position:100% -42px;
     }
     
.result_div1{
position:absolute;background:yellow;height:80px; filter:alpha(opacity=80); overflow-y: auto; overflow-x: hidden;z-index:100
}
.select_div_l{
cursor:hand;width:15px;height:17px;position:absolute;background-image:url(/erp/images/selectArrow.gif);
}
.select_div_r{
cursor:hand;width:15px;height:17px;position:absolute;background-image:url(/erp/images/selectArrow.gif);
}